            body {
                background-color: black;
                color: white;
            }
            .botaoenvio {
                background-color: green;
            }
            .botaolimpar {
                background-color: red;
            }